@font-face {
    font-family: 'Lemon/Milk';
    src: url('LemonMilk.woff2') format('woff2'),
        url('LemonMilk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri.woff2') format('woff2'),
        url('Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri-Bold.woff2') format('woff2'),
        url('Calibri-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #817a7f;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFF; 
}

a:hover {
    color: #face29;
}

.backgroundcolor {
    color: #817a7f;
}

.header {
    background-color: #f8bb00;
    width: 100%;
    float: left;
    height: 200px;
    position: relative;
}

.headercontentcontainer {
    width: 800px;
    height: 160px;
    border: 8px solid #FFF;
    box-sizing: border-box;
    margin: auto;
    margin-top: 20px;
}

.headertitlescontainer {
    padding-left: 30px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.headertitle {
    font-family: 'Lemon/Milk';
    color: #FFF;
    font-size: 40pt;
    line-height: 40pt;
    float: left;
}

.headersubtitle {
    font-family: 'Lemon/Milk';
    color: #FFF;
    font-size: 24pt;
    line-height: 24pt;
    float: left;
    clear: left;
}

.profilepicture {
    float: right;
    height: 100%;
    box-sizing: border-box;
    border-left: 8px solid #FFF;
}

.maincontainer {
    width: 800px;
    margin: auto;
}

.maincontainercontent {
    float: left;
}

.hiddenassets {
    display:none;
}

.leftcontainer {
    width: 500px;
    float :left;
}

.rightcontainer {
    padding-left: 50px;
    width: 250px;
    float: right;
}

.fullwidthcontainer {
    width: 100%;
    float: left;
}

.detailscontainer {
    display:none;
}

.subcontainertitle {
    font-family: 'Lemon/Milk';
    color: #face29;
    font-size: 24pt;
    line-height: 24pt;
    border-bottom: 8px solid #FFF;
    padding-bottom: 5px;
    width: fit-content;
}

.padtop {
    padding-top: 1em;
}

.yellowsubtext {
    font-family: 'Calibri';
    font-weight: bold;
    color: #face29;
    font-size: 11pt;
}

.whitesubtext {
    font-family: 'Calibri';
    font-weight: bold;
    color: #FFF;
    font-size: 11pt;
}

.bodytext {
    font-family: 'Calibri';
    color: #FFF;
    font-size: 11pt;
}

.footer {
    background-color: #f8bb00;
    width: 100%;
    float: left;
    height: 100px;
    position: relative;
    top: 50px;
}

.footercontentcontainer {
    width: 800px;
    margin: auto;
}

.footersubtitle {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Lemon/Milk';
    color: #FFF;
    font-size: 11pt;
    line-height: 13pt;
}

.portfolioicon {
    width: 19%;
    float: left;
    padding: 3%;
    transition: all .2s ease-in-out;
}

.portfolioicon:hover {
    transform: scale(1.1);
}

.currentportfolioicon {
    width: 80%;
    float: left;
    padding: 10%;
}

.portfoliobacktext:hover {
    color: #FFF;
}

.viewdemobutton {
    font-family: 'Lemon/Milk';
    color: #face29;
    font-size: 18pt;
    line-height: 18pt;
    border-bottom: 8px solid #FFF;
    width: fit-content;
    float: left;
    clear: both;
}

.rightbadge {
    margin-left: 20px;
}


.portfoliobacktext {
    clear: both;
}

.viewdemobutton:hover {
    color: #FFF;
}

.appstorebutton {
    display: block;
    float: left;
    height: 55px;
}

.bitbucketbutton {
    clear: both;
}

.flex-2-col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-2-col li {
    width: 50%;
}

/* Responsive Web and Tablet Sizing */

@media only screen and (max-width: 900px) {
    
    .header {
        height: 30vw;
        max-height: 200px;
    }
    
    .headercontentcontainer {
        position: absolute;
        width: 90%;
        margin-left: 5%;
        height: 80%;
        margin-top: 0px;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .maincontainer {
        width: 90%;
    }
    
    .leftcontainer {
        width: 62%;
        float :left;
    }

    .rightcontainer {
        padding-left: 6%;
        width: 32%;
        float: right;
    }
    
    .footercontentcontainer {
        position: absolute;
        width: 90%;
        margin-left: 5%;
        height: 80%;
        margin-top: 0px;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .rightbadge {
        margin-left: 0px;
        clear: both;
    }
}

/* Mobile Sizing */

@media only screen and (max-width: 700px) {
    
    .headercontentcontainer {
        border: 1.2vw solid #FFF;
    }
    
    .headertitlescontainer {
        padding-left: 4vw;
    }
    
    .headertitle {
        font-size: 7.5vw;
        line-height: 7.5vw;
    }

    .headersubtitle {
        font-size: 4.5vw;
        line-height: 4.5vw;
    }
    
    .profilepicture {
        border-left: 1.2vw solid #FFF;
    }
    
    .leftcontainer {
        width: 100%;
        float :left;
    }

    .rightcontainer {
        width: 100%;
        float :left;
        padding-left: 0;
    }
    
    .subcontainertitle {
        font-size: 1.6em;
        border-bottom: 1.2vw solid #FFF;
    }
    
    .portfolioicon {
        width: 42%;
        padding: 4%;
    }
    
    .currentportfolioicon {
        float: left;
        width: 42%;
        padding: 4%;
    }

}

